{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
   <h3 class="navbar-brand red"><strong>Transactions History</strong></h3>
   <table class="table table-striped">
       <thead>
           <tr>
                <th scope="col">Symbol</th>
                <th scope="col">Name</th>
                <th scope="col">Shares</th>
                <th scope="col">Price</th>
                <th scope="col">Date</th>
            </tr>
       </thead>
       <tbody>
           {% for transaction in transactions %}
           <tr scope="row">
                <td>{{ transaction.symbol }}</td>
                <td>{{ transaction.name }}</td>
                <td>{{ transaction.shares }}</td>
                <td>{{ transaction.price|usd() }}</td>
                <td>{{ transaction.date }}</td>
            </tr>
            {% endfor %}
       </tbody>
   </table>
{% endblock %}
